# === Cargo target ===
/target/
Cargo.lock

# === crate of target ===
**/target/
**/Cargo.lock



# === build ===
*.log
*.out
*.tmp
*.bak
*.rs.bk
release/
examples/

# === IDE ===
# VSCode
.vscode/
.history/
*.code-workspace

# JetBrains (CLion / IntelliJ / RustRover)
.idea/
*.iml

# === OS temp ===
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# === test ===
/coverage/
/debug/
/dist/
/reports/

# === env / local setting ===
.env
.env.*
config/local.toml
config/dev.toml

# === Git merge / backup ===
*.orig

# === Explorer (Blockchain Explorer) ===
# Node.js frontend
explorer/web/node_modules/
explorer/web/dist/
explorer/web/.env.local
explorer/web/.env.*.local

*.rej

# === etc ===
/out/
/build/

# == data ===
explorer/explorer_data/